body{
    background-color: darkslategrey;
}

main{
    width: 30%;
    height: 300px;
    margin: 200px auto;
    padding:1% 0px;
    border-radius: 10px;
    background-color: white;

}

main div {


}

main h4{
    width: 100px;
    margin: 12px auto;
}

main p{
    width: 70%;
    height: 130px;
    margin: 40px auto;
    font-size: 30px;
    text-align: center;
}

main img{
    display: block;
    width: 70%;
    margin: 0px auto;
}

main button{
    width: 54px;
    height: 54px;
    display: block;
    margin: 40px auto;
    border: 2px solid darkslategrey;
    border-radius: 50px;
    background-color: limegreen;
    cursor: pointer;
}